body{
    display: grid;
    justify-content: space-around;
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: burlywood;
    font-family: monospace;
    font-size: 2rem;
    margin: 1rem 1rem 1rem 1rem;
}
.container {
    display: flex;
    height: 550px;
    width: 400px;
    background-color: aqua;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 30px;
}
.screen {
    height: 15%;
    width: 90%;
    background-color: rgb(8, 175, 111);
    margin-top: 1rem;
    border-radius: 10px;
}
.buttons{
    display: flex;
    height: 60%;
    width: 90%;
    /* background-color: blue; */
    margin-top: 1rem;
}
.numbers-container{
    height: 100%;
    width: 70%;
    /* background-color: chocolate; */
}
.operators-container{
    height: 100%;
    width: 30%;
    /* background-color: transparent; */
}
.button{
    height: 4.5rem;
    width: 4.5rem;
    background-color: whitesmoke;
    margin: 5px 5px 5px 5px;
}
.clear-options{
    height: 10%;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
}
